#video{
    width: 100%;
    height: 500px;
    border: none;
}
.abcd{
    color: aqua;
}
.img{
    width: 100%;
}
#h5{
    margin: 20px;
}
#star{
    color: lightgrey;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.movie_head i{
    float: right;
}
.movie_text span{
    color: rgba(255, 166, 0, 0.916);
}